a.blueLink {
  color: #00ccff;
}

.navbar-default {
  background: #8f42dc;
  font-family: "Cabin", sans-serif;
  border-bottom: 1px solid #8f42dc;
  text-transform: uppercase;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-nav > li > a {
  color: white;
  background: #8f42dc;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;
  background: #8f42dc;
  border-bottom: 3px solid white;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 15px;
  margin-right: 15px;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
  color: white;
  background: #8f42dc;
  /*    text-transform: uppercase;*/
  border-bottom: 3px solid white;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 15px;
  margin-right: 15px;
}
.navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background: #8f42dc;
  /*    text-transform: uppercase;*/
  border-bottom: 3px solid white;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 15px;
  margin-right: 15px;
}
.navbar-default .navbar-nav .open .dropdown-menu {
  background-color: #8f42dc;
  color: white;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  background-color: #8f42dc;
  color: white;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  background-color: white;
  color: #8f42dc;
}
.navbar-default .navbar-form {
  margin-left: 0;
  margin-right: 0;
}

#nav-logo {
  max-width: 200px;
  margin: auto;
  position: relative;
  top: -10px;
}

.jumbotron {
  padding: 0;
  position: relative;
  border: none;
  margin-bottom: 0;
}
.jumbotron #jumbotron-image-container {
  height: 600px;
  background: black, url(../images/jumbotron-sm7.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/jumbotron-sm7.jpg);
  background-position: center;
}
.jumbotron #jumbotron-text-container {
  background-color: #00ccff;
  border: none;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0;
  color: white;
  vertical-align: middle;
}
.jumbotron ul {
  position: relative;
  margin: auto;
  float: none;
  width: 105px;
  background-color: #8f42dc;
}

#jumbotron-text {
  text-align: center;
  padding-top: 350px;
  color: white;
  font-weight: 700;
}

#callToActionNav {
  background-color: #8f42dc;
  color: white;
  text-transform: uppercase;
  border: 3px solid white;
}
#callToActionNav:hover,
#callToActionNav .active {
  background-color: #8f42dc;
  color: white;
}

#callToAction {
  margin-top: 15px;
  background-color: #8f42dc;
  color: white;
}
#callToAction:hover,
#callToAction .active {
  background-color: #8f42dc;
  color: white;
}

#caretGlyphicon {
  color: white;
  font-size: 0.75em;
}

#callToActionDropdown {
  background-color: #8f42dc;
  color: white;
}
#callToActionDropdown:hover {
  background-color: white;
  color: #8f42dc;
}

.top-header {
  font-weight: 900;
  color: #7300EF;
  font-size: 5em;
}

header {
  background-color: white;
  color: #7300EF;
}

.section-header {
  font-weight: 500;
  color: black;
  font-size: 2.5em;
  font-family: "Montserrat", sans-serif;
}

.headerText {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.box-header {
  font-weight: bold;
  color: black;
}

.homepageBoxes {
  color: black;
}
.homepageBoxes:hover {
  text-decoration: none;
  color: black;
}

span.glyphicon,
i.fa {
  color: #00ccff;
}

i.fa.fa-facebook,
i.fa.fa-twitter {
  color: white;
}

hr {
  height: 1px;
  /* old IE */
  background-color: lightgrey;
  /* Modern Browsers */
  width: 100%;
}

#dropdownCenter {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
  background-color: #8f42dc;
}

#what-we-do {
  padding-top: 30px;
}

#our-mission {
  padding: 30px 0;
}

#our-customers-love-us {
  background-color: #4cc9a4;
  color: white;
  padding: 30px 0;
}
#our-customers-love-us h1,
#our-customers-love-us h2 {
  color: white;
}
#our-customers-love-us .reviewer {
  font-style: italic;
}

#we-know-all-types-of-tech {
  padding: 30px 0;
}

#let-us-help-you-today {
  background-color: #00ccff;
  color: white;
  padding: 30px 0;
}
#let-us-help-you-today h1,
#let-us-help-you-today h2 {
  color: white;
}
#let-us-help-you-today .reviewer {
  font-style: italic;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
}

.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.row div {
  margin-bottom: 30px;
}

.row-learn-more p {
  margin-top: -15px;
  padding: 0;
}

footer {
  background-color: #e7e7e7;
}
footer .row-footer {
  margin: 0px;
  padding: 20px 0px 0px 0px;
  color: black;
  font-size: 1.2em;
}
footer .row-footer address {
  color: black;
}
footer .row-footer address a {
  color: black;
}
footer .row-footer li a {
  color: black;
}
footer img {
  max-width: 50px;
}

address {
  font-size: 100%;
}

/*# sourceMappingURL=mystyles.css.map */
