$fontFamilyHeader: 'Montserrat',
sans-serif;
$fontFamilyNav: 'Cabin',
sans-serif;
$techBlue: #29aae1;
$friendPurple: #7300EF;
$navPurple: #8f42dc;
$jumbotronBlue: #00ccff;
$reviewsGreen: #4cc9a4;
//* {
//    font-family: $fontFamilyBody;
//}
a.blueLink {
    color: $jumbotronBlue;
}

.navbar-default {
    background: $navPurple;
    //	font-weight: 600;
    font-family: $fontFamilyNav;
    border-bottom: 1px solid $navPurple;
    text-transform: uppercase;
    .navbar-toggle .icon-bar {
        background-color: white;
    }
    .navbar-nav {
        > {
            li>a {
                color: white;
                background: $navPurple;
                //				font-weight: 600;
                &:hover,
                &:focus {
                    color: white;
                    background: $navPurple;
                    border-bottom: 3px solid white;
                    padding-bottom: 5px;
                    padding-left: 0;
                    padding-right: 0;
                    margin-left: 15px;
                    margin-right: 15px;
                }
            }
            .open>a,
            .active>a {
                color: white;
                background: $navPurple;
                //				font-weight: 600;
                /*    text-transform: uppercase;*/
                border-bottom: 3px solid white;
                padding-bottom: 5px;
                padding-left: 0;
                padding-right: 0;
                margin-left: 15px;
                margin-right: 15px;
                &:hover,
                &:focus {
                    color: white;
                    background: $navPurple;
                    //					font-weight: 600;
                    /*    text-transform: uppercase;*/
                    border-bottom: 3px solid white;
                    padding-bottom: 5px;
                    padding-left: 0;
                    padding-right: 0;
                    margin-left: 15px;
                    margin-right: 15px;
                }
            }
        }
        .open .dropdown-menu {
            >li>a {
                background-color: $navPurple;
                color: white;
                &:hover {
                    background-color: white;
                    color: $navPurple;
                }
            }
            background-color: $navPurple;
            color: white;
        }
    }
    .navbar-form {
        margin-left: 0;
        margin-right: 0;
    }
}

#nav-logo {
    max-width: 200px;
    margin: auto;
    position: relative;
    top: -10px;
}

.jumbotron {
    padding: 0;
    //    background-color: $friend;
    position: relative;
    border: none;
    margin-bottom: 0;
    //@media (min-width: 768px) {
    #jumbotron-image-container {
        height: 500px;
        background: /* top, transparent black, faked with gradient */
        rgb(0, 0, 0), url(../images/jumbotron-sm7.jpg);
        background: /* top, transparent black, faked with gradient */
        linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/jumbotron-sm7.jpg);
        background-position: center;
        //        background-repeat: no-repeat;
    }
    //}
    #jumbotron-text-container {
        background-color: $jumbotronBlue;
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0;
        //		height: 300px;
        color: white;
        vertical-align: middle;
        a {
            color: white;
        }
    }
    //	.container-fluid {}
    ul {
        position: relative;
        margin: auto;
        float: none;
        width: 105px;
        background-color: $navPurple;
    }
}

#jumbotron-about-us {
    padding: 0;
    //    background-color: $friend;
    position: relative;
    border: none;
    margin-bottom: 0;
    //@media (min-width: 768px) {

        height: 300px;
        background: /* top, transparent black, faked with gradient */
        rgb(0, 0, 0), url(../images/jumbotron-sm7.jpg);
        background: /* top, transparent black, faked with gradient */
        linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/jumbotron-sm7.jpg);
        background-position: center;
        //        background-repeat: no-repeat;
//    }
}

#jumbotron-text {
    text-align: center;
    padding-top: 200px;
    color: white;
    font-weight: 700;
//    font-size: 5em;
}

#jumbotron-about-us-text {
    text-align: center;
    padding-top: 100px;
    color: white;
    font-weight: 700;
//    font-size: 5em;
}

#callToActionNav {
    background-color: $navPurple;
    color: white;
    text-transform: uppercase;
    border: 3px solid white;
    &:hover,
    .active {
        background-color: $navPurple;
        color: white;
    }
}

#callToAction {
    margin-top: 15px;
    background-color: $navPurple;
    color: white;
    &:hover,
    .active {
        background-color: $navPurple;
        color: white;
    }
}

#caretGlyphicon {
    color: white;
    font-size: 0.75em;
}

#callToActionDropdown {
    background-color: $navPurple;
    color: white;
    &:hover {
        background-color: white;
        color: $navPurple;
    }
}

.top-header {
    font-weight: 900;
    color: $friendPurple;
    font-size: 5em;
}

header {
    background-color: white;
    color: $friendPurple;
}

.section-header {
    font-weight: 500;
    color: black;
    font-size: 2.5em;
    font-family: $fontFamilyHeader;
}

.headerText {
    font-family: $fontFamilyHeader;
    font-weight: 900;
}

.box-header {
    font-weight: bold;
    color: black;
}

.homepageBoxes {
    color: black;
    &:hover {
        text-decoration: none;
        color: black;
    }
}

span.glyphicon,
i.fa {
    color: $jumbotronBlue;
}

i.fa.fa-facebook,
i.fa.fa-twitter {
    color: white;
}

hr {
    //    border: none;
    height: 1px;
    /* old IE */
    background-color: lightgrey;
    /* Modern Browsers */
    width: 100%;
}

#dropdownCenter {
    left: 50%;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
    background-color: $navPurple;
}

#what-we-do {
    padding-top: 30px;
}

#our-mission {
    padding: 30px 0;
}

#our-customers-love-us {
    background-color: $reviewsGreen;
    color: white;
    padding: 30px 0;
    h1,
    h2 {
        color: white;
    }
    .reviewer {
        font-style: italic;
    }
}

#we-know-all-types-of-tech {
    padding: 30px 0;
}

#let-us-help-you-today {
    background-color: $jumbotronBlue;
    color: white;
    padding: 30px 0;
    h1,
    h2 {
        color: white;
    }
    .reviewer {
        font-style: italic;
    }
}

address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.row div {
    margin-bottom: 30px;
}

.row-learn-more p {
    margin-top: -15px;
    padding: 0;
}

#our-team {
    img {
        max-height: 200px;
    }
}

footer {
    background-color: #e7e7e7;
    .row-footer {
        margin: 0px;
        padding: 20px 0px 0px 0px;
        //    border: 1px $techBlue solid;
        //    background-color: $friendPurple;
        color: black;
        font-size: 1.2em;
        address {
            color: black;
            a {
                color: black;
            }
        }
        li a {
            color: black;
        }
    }
    img {
        max-width: 50px;
    }
}

address {
    font-size: 100%;
}
